
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-lower">Contact Us</span>
                    </h2>

                    <p class="address mb-5">
                        <em>
                            <strong>Centriq Training</strong><br>
                            8700 State Line Road Suite 200,
                            Leawood, KS 66206<br>
                            (913) 322-7000<br />
                            <a href="http://www.centriq.com" target="_blank">http://www.centriq.com</a>
                        </em>
                    </p>
                    <p class="mb-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.0155183146035!2d-94.61131608428934!3d38.969313650306134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0e925fccfc2b9%3A0xc10645420df0da7d!2s8700+State+Line+Rd%2C+Leawood%2C+KS+66206!5e0!3m2!1sen!2sus!4v1519349967736" width="700" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

